

#root .signin-container{
    width: 40vw;
    // height: 70vh;
    // z-index:1;
    transition: 0.5s all ease-in-out;
    font-size: 1rem;
    position: fixed;


    .signin-form{
        background-color: rgb(255, 255, 255);
        border-radius: 0.5rem;
        height:100%;
        width:100%;
        color:rgb(0, 0, 0);
        // padding:3rem;

        .signin-element {
            text-align: center;
            padding-top: 1rem;

            input {
                width: 100%;
                padding-top: 1vh;
                padding-bottom: 1vh;
                font-size: 1.4rem;
                color: rgb(0, 0, 0);

                .active {
                    border-color: red;
                }
            }

            .signin-label {
                font-size: 1.2rem;
                text-align: left;
                color: red;
            }



        }

        .signin-body{
            padding:3rem;

        }



        .signin-header{
            height:34%;
            text-align: center;
            padding-bottom: 2rem;
            padding:3rem;


            .signin-label-main{
                font-size: 2rem; 
                font-weight: 200;
            }
        }

        #root .signin-body {
            height:75%;
            // font-size:1.2rem;
        }

        .user-icon{
            width:30%;
            height:30%;
        }

        .signin-button-container{
            padding-bottom: 2rem;

            .signin-button{
                // Making Button Like Credential Boxes
                width: 100%;
                padding-top: 1.5vh;
                padding-bottom: 1.5vh;
                font-size: 1.4rem;

                // Keep Below Credentials
                margin-top:1.7rem;

                // Lee's Colouring
                color: rgb(255, 255, 255);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                background: linear-gradient(45deg,rgb(79, 233, 169), rgb(231, 188, 227), rgb(197, 22, 188), rgb(79, 101, 207));

                transition: all 0.2s ease-in-out;
            }
            .signin-button:hover{
                color:rgb(255, 255, 255);
                // background: linear-gradient(90deg, rgb(231, 188, 227), rgb(197, 22, 188), rgb(79, 101, 207)) ;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
                // background-position:50% 50%;

            }
        }
    }
}




#root input:focus + label{
    transform: scale(0.7,0.7) translate(0%, -80%);
}

#root .label-active{
    transform: scale(0.7,0.7) translate(0%, -80%);
}

.sign-up-link{
    font-weight: 600;
    color:rgb(214, 176, 176);
    font-size:1.1rem;
    padding-top: 0;
}

#root .sign-in-slide-down{
    transform:translateY(0%)
}

#root .sign-in-slide-up{
    transform:translateY(-150%);
    // display:none;
}