

.table-cont{
    width:70vw;
    text-align: left;



    th{
        margin-left:2vw;
        margin-right:2vw;
    }

    .edit-btn{
        background-color: rgb(88, 88, 88);
        padding:0.3vw 0.6vw 0.3vw 0.6vw;
        color:white;
    }

}